
ColorChessConsole/.vs/ColorChessConsole/v17/.suo
ColorChessConsole/.vs/ColorChessConsole/v17/.suo
ColorChessConsole/ColorChessConsole/bin/Debug/net6.0/ColorChessConsole.dll
ColorChessConsole/.vs/ColorChessConsole/v17/.suo
*.exe
ColorChessConsole/.vs/ColorChessConsole/v17/.suo
*.dll
*.pdb
*.json
*.props
*.cache
*.txt
*.editorconfig
*.dll
*.dll
ColorChessConsole/.vs/ColorChessConsole/v17/.suo
*.v2
*.pdb
ColorChessConsole/ColorChessConsole/obj/Debug/net6.0/ColorChessConsole.GeneratedMSBuildEditorConfig.editorconfig
*.v2
*.editorconfig
ColorChessConsole/.vs/ColorChessConsole/v17/.suo
*.v2
*.pdb
*.exe
*.cache
*.cache
*.dll
*.json
