################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ColorChessConsole/.vs/ColorChessConsole/DesignTimeBuild/.dtbcache.v2
ColorChessConsole/.vs/ColorChessConsole/v17/.suo
